# Gradle
/build/
/.gradle/
/gradle/
/out/

# IntelliJ
/.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
/bin/

# James Auths
/token*.txt
/keys.txt
james.sh
/gitauth.txt

# James Data
*_version.txt
branch_name.txt
data/dataFileNames.txt
*.old
/data/playlists.txt
.playlistinput
data/playlists/*

# Other
hs_err_pid*
