/build/
/.gradle/
/gradle/
/token*.txt
/keys.txt
james.sh
/gitauth.txt
*.old
hs_err_pid*
/.idea
/src/main/main.iml
*_version.txt
branch_name.txt
/data/playlists.txt
.playlistinput
data/dataFileNames.txt
